{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
              {% include 'includes/alerts.html' %}
            <header class="mb-4"><h4 class="card-title">Ubicanos físicamente, si lo deseas!</h4></header>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240.82198942519625!2d-91.14921006594973!3d15.03971601836632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858bffe8f39bd1c3%3A0x5e18575bbe1d0fce!2sCentro%20de%20Servicio%20Santa%20Elena!5e0!3m2!1ses!2sgt!4v1636087046206!5m2!1ses!2sgt" 
            width="400" height="auto" style="border:2;" 
            allowfullscreen="" loading="lazy">
        </iframe>
        </article><!-- card-body.// -->
        </div> <!-- card .// -->
        
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}

