{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
		<!--added by me  -->
	<div class="container">
		<div class="col-md-8 text-md-center">
			<span  class="px-2">
				Visitante Número:
				<div id="sfcy2pmaekmujmrhrca4qc6n5ggwqp3q8h7">
					<script 
						type="text/javascript" 
						src="https://counter10.stat.ovh/private/counter.js?c=y2pmaekmujmrhrca4qc6n5ggwqp3q8h7&down=async" 
						async>
					</script>
					<noscript>
						<a 
						href="https://www.contadorvisitasgratis.com" 
						title="contador de visitas gratis para blog">
						<img 
						src="https://counter10.stat.ovh/private/contadorvisitasgratis.php?c=y2pmaekmujmrhrca4qc6n5ggwqp3q8h7" 
						border="0" 
						title="contador de visitas gratis para blog" 
						alt="contador de visitas gratis para blog">
						</a>
					</noscript>
				</div>
			</span>
		</div>
	</div>
	<!--added by me  -->
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy Rychy </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">jorgeajrha@gmail.com</span>
				<span  class="px-2">+502 4209 0991</span>
				<span  class="px-2">Santa Cruz del Quiché | Guatemala</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->